<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref='main.home'>
        <span></span> Food Recipes
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li><a ui-sref='main.recipes({type: vm.LIST_MODE.All_LIST_MODE})'>{{'key.foodrecipes.components.navbar.directive.browse_the_lists' | translate}}</a></li>
        <li ng-if="vm.user"><a ui-sref='main.recipes({type: vm.LIST_MODE.MY_LIST_MODE})'>{{'key.foodrecipes.components.navbar.directive.my_list' | translate}}</a></li>
        <li><a ui-sref='main.about' translate>{{'key.foodrecipes.components.navbar.directive.about'}}</a></li>
      </ul>

      <div class="nav navbar-nav navbar-form navbar-right">
        <!--<div class="form-group" ng-if="!vm.user">-->
          <!--<form method="get" action="{{vm.authFacebookAction}}">-->
            <!--<button class="btn btn-primary" type="submit"><i class="fa fa-facebook"></i> {{'key.foodrecipes.components.navbar.directive.log_in' | translate}}</button>-->
          <!--</form>-->
        <!--</div>-->
        <!--<div class="form-group" ng-if="!vm.user">-->
          <!--<form method="get" action="{{vm.authGoogleAction}}">-->
            <!--<button class="btn btn-danger" type="submit"><i class="fa fa-google"></i> {{'key.foodrecipes.components.navbar.directive.log_in' | translate}}</button>-->
          <!--</form>-->
        <!--</div>-->
        <div class="form-group" ng-if="!vm.user">
          <button class="btn btn-primary" ng-click="vm.openModalForSignIn()"><i class="fa fa-sign-in"></i> Log in</button>
        </div>
        <div class="form-group" ng-if="!vm.user">
          <button class="btn btn-primary" ng-click="vm.openModalForSignUp()"><i class="fa fa-user-plus"></i> Sign up</button>
        </div>
        <div class="form-group" ng-if="vm.user"><b>{{vm.user.name}}</b></div>
        <div class="form-group" ng-if="vm.user">
          <form method="get" action="{{vm.logoutAction}}">
            <button class="btn btn-default" type="submit">{{'key.foodrecipes.components.navbar.directive.log_out' | translate}}</button>
          </form>
        </div>

        <div class="form-group">
          <div language-select-directive></div>
        </div>

      </div>
    </div>
  </div>
</nav>
