<form name="loginForm" class="form-horizontal" role="form">

  <!--Name-->
  <div class="form-group name">
    <label class="col-sm-2 control-label">Name</label>

    <div class="col-sm-10" ng-class="{'has-error': loginForm.name.$invalid && loginForm.name.$dirty}">

      <input name="name" type="text" class="form-control" placeholder="Name" ng-model="vm.credentials.name" required maxlength="255">

      <div ng-messages="loginForm.name.$error" ng-if='loginForm.name.$dirty' class="error">
        <div ng-message="required"><span>Name is required</span></div>
        <div ng-message="maxlength"><span>Name is too long</span></div>
      </div>

    </div>

  </div>

  <!--Password-->
  <div class="form-group password">
    <label class="col-sm-2 control-label">Password</label>

    <div class="col-sm-10" ng-class="{'has-error': loginForm.password.$invalid && loginForm.password.$dirty}">

      <input name="password" type="password" class="form-control" placeholder="Password" ng-model="vm.credentials.password" required maxlength="50">

      <div ng-messages="loginForm.password.$error" ng-if='loginForm.password.$dirty' class="error">
        <div ng-message="required"><span>Password is required</span></div>
        <div ng-message="maxlength"><span>Password is too long</span></div>
      </div>

    </div>

  </div>

  <div class="pull-right">
    <button validation-submit="loginForm" type="submit" class="btn btn-primary" ng-click="vm.login(vm.credentials)" ng-disabled="loginForm.$invalid">Login</button>
  </div>

</form>

