<div class="row">
  <div class="panel panel-default">

    <div class="panel-heading clearfix">
      <h4 class="panel-title pull-left panel-title-list" >Recipes</h4>
      <button ng-disabled="!vm.user" ng-click="vm.addrecipe()" class="btn btn-primary pull-right">Add a new recipe</button>
    </div>

    <div class="panel-body">
      <div class="table-responsive">
        <table ng-table="vm.recipesTable" class="table table-condensed row-border table-hover v-middle" ng-show="($data.length > 0)">
          <tbody>
          <tr ng-repeat="recipe in $data">
            <td class="rowClick" ng-click="vm.navigateToDetailrecipe(recipe)" sortable="'author'" data-title="'Author'">{{recipe.user.name}}</td>
            <td class="rowClick" ng-click="vm.navigateToDetailrecipe(recipe)" sortable="'name'" data-title="'Name'">{{recipe.name}}</td>
            <td class="rowClick" ng-click="vm.navigateToDetailrecipe(recipe)" sortable="'description'" data-title="'Description'">{{recipe.description}}</td>
            <td class="twelvePercentWidthRow" align="center" ng-if="recipe.user.id === vm.user.id">
              <button ng-click="vm.addRecipe(recipe)" type="button" class="edit btn btn-default btn-sm" tooltip="Edit recipe">
                <span class="fa fa-pencil"></span>
              </button>
              <button ng-click="vm.removeRecipe(recipe)" type="button" class="remove btn btn-default btn-sm" tooltip="Delete recipe">
                <span class="fa fa-trash-o"></span>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>


