<div class="row">

  <h4>{{'key.foodrecipes.sections.recipes.recipes' | translate}}</h4>

  <div class="table-responsive">
    <table ng-table="vm.recipesTable" class="table table-condensed row-border table-hover v-middle" ng-show="($data.length > 0)">
      <tbody>
      <tr ng-repeat="recipe in $data" ng-click="vm.navigateToDetailrecipe(recipe)">
        <td data-title="'key.foodrecipes.sections.recipes.image' | translate" align="center">
          <img src="{{recipe.imagePath}}">
        </td>
        <td sortable="'name'" data-title="'key.foodrecipes.sections.recipes.name' | translate"><span class="recipe-name">{{recipe.name}}</span></td>
        <td sortable="'description'" data-title="'key.foodrecipes.sections.recipes.description' | translate">{{recipe.description}}</td>
        <td sortable="'type'" data-title="'key.foodrecipes.sections.recipes.type' | translate">{{recipe.type}}</td>
        <td sortable="'duration'" data-title="'key.foodrecipes.sections.recipes.duration' | translate">{{recipe.duration}} min</td>
        <td sortable="'complexity'" data-title="'key.foodrecipes.sections.recipes.complexity' | translate">
          <uib-rating ng-model="recipe.complexity" max="3" readonly="true"></uib-rating>
        </td>
        <td sortable="'result'" data-title="'key.foodrecipes.sections.recipes.result' | translate">
          <uib-rating ng-model="recipe.result" max="3" readonly="true"></uib-rating>
        </td>
        <td sortable="'done'" data-title="'key.foodrecipes.sections.recipes.done' | translate" align="center">
          <span ng-if="recipe.done" class="fa fa-check color-green" aria-hidden="true"></span>
          <span ng-if="!recipe.done" class="fa fa-times color-red" aria-hidden="true"></span>
        </td>
        <td sortable="'todo'" data-title="'key.foodrecipes.sections.recipes.todo' | translate" align="center">
          <span ng-if="recipe.todo" class="fa fa-check color-green" aria-hidden="true"></span>
          <span ng-if="!recipe.todo" class="fa fa-times color-red" aria-hidden="true"></span>
        </td>
        <td data-title="'key.foodrecipes.sections.recipes.website' | translate" align="center">
          <a href="{{recipe.webLink}}" target="_blank" type="button" class="edit btn btn-default btn-sm" uib-tooltip="Web site">
            <span class="fa fa-external-link"></span>
          </a>
        </td>
        <td data-title="'key.foodrecipes.sections.recipes.details' | translate" align="center">
          <button ng-click="vm.openModalForDetails(recipe)" type="button" class="edit btn btn-default btn-sm" uib-tooltip="Details">
            <span class="fa fa-info-circle"></span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>


