<!-- Modal -->
<!--Header-->
<div class="modal-header">
  <button type="button" class="close " ng-click="close()">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">Close</span>
  </button>
  <h4 class="modal-title">{{recipe.name}}</h4>
</div>


<!--Body-->
<div class="modal-body">
  <p>Are you sure you want to add this recipes to your recipe list?</p>
</div>


<!--Footer-->
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="addToMyRecipe()">Yes</button>
  <button type="button" class="btn btn-primary" ng-click="close()">No</button>
</div>


