<!-- Modal -->
<!--Header-->
<div class="modal-header">
  <button type="button" class="close " ng-click="close()">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">Close</span>
  </button>
  <h4 class="modal-title">{{recipe.name}}</h4>
</div>


<!--Body-->
<div class="modal-body">

  <form name="form" class="form-horizontal" role="form">

    <!--Personne-->
    <div class="form-group name">
      <label class="col-sm-2 control-label">Person number</label>

      <div class="col-sm-10">
        <span>{{recipe.personNumber}}</span>
      </div>
    </div>

    <!--Ingredients-->
    <div class="form-group name">
      <label class="col-sm-2 control-label">Ingredients</label>

      <div class="col-sm-10">
        <div ng-repeat="ingredient in recipe.ingredients">{{ingredient}}</div>
      </div>
    </div>

    <!--Comment-->
    <div class="form-group name">
      <label class="col-sm-2 control-label">Comment</label>

      <div class="col-sm-10">
        <span>{{recipe.comment}}</span>
      </div>
    </div>

  </form>
</div>


<!--Footer-->
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="close()">Close</button>
</div>


